.img1>img {
    border-radius: 50%;
    border: 15px solid rgb(241, 63, 131);
    margin:15px;
}

#name {
    font-family: 'Libre Baskerville', serif;
    font-size: 25px;
    text-align: center;
    /* color: */
}

#roll {
    font-family: 'Libre Baskerville', serif;
    font-size : 16px;
    font-weight: 100;
    text-align: center;
}

#head1 {
    font-size:32px;
    font-family: 'Berkshire Swash';
    text-align: center;
    background-color: rgb(0, 89, 255);
}

#stat {
    text-align: center;
}

#head2 {
    font-size:32px;
    font-family: 'Berkshire Swash';
    text-align: center;
    background-color: rgb(0, 89, 255);
}

#head3 {
    font-size:32px;
    font-family: 'Berkshire Swash';
    text-align: center;
    background-color: rgb(0, 89, 255);
}

#head4 {
    font-size:32px;
    font-family: 'Berkshire Swash';
    background-color: rgb(0, 89, 255);
}

#tstyle {
    font-family: 'Marko One';
}

#about {
    /* font-family: 'Courgette', cursive; */
    font-family: 'Lateef', cursive;
    font-size: 25px;
}
.circledot {
    height: 20px;
    width: 20px;
    margin-left: 220px;
}
.diagonalBox {
    background: rgb(77, 187, 241);
    padding: 85px 0px;
    transform: skew(0deg, -5deg) translateY(-80px);
    position: relative;
    
}
.marginBox {
    margin-top: -150px;
     /* margin-left:30%; */
    margin-left: 45%;
    position: absolute;
}

#rimg {
    height:150px;
    width:150px;
    /* justify-content:center; */
    border:15px solid rgb(240, 2, 145);
}
.cardtext {
    font-family: 'Libre Baskerville', serif;
}

  


